body {
    background-color: rgb(233, 95, 95);
}

.nav {
    color: rgb(69, 145, 103);

    &__air-bnb {
        display: inline-block;
        width: 2%;
        height: auto;
    }

    &__Airbnb {
        display: inline-block;
    }

    &__liste {
        display: inline-block;

        &__1 {
            display: inline;



        }

    
}


    }
